/* this file will refactored soon */

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

#name_paragraph {
  font-weight: bold;
  font-size: 2.0rem;
  line-height: 1.6;
}

@supports (-webkit-touch-callout: none) {
  .container {
    height: -webkit-fill-available;
  }
}

.container p {
  display: block;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.4;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.container p b {
  font-weight: bold;
}

.container p a {
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.container .contact ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
  max-width: 28rem;
  /* color: #000; */
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.container .contact ul li {
  margin-right: 1rem;
}

.icon {
  width: 3rem;
}

@media screen and (max-width: 600px) {
  .contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: flex-start;
    margin-left: 1rem;
  }
}

/*Animassyon*/
.left-animation {
  animation: maveInLeft 500ms;
}

.right-animation {
  animation: maveInRight 500ms;
}

.top-animation {
  animation: maveInTop 500ms;
}

.bottom-animation {
  animation: maveInBottom 500ms;
}

@keyframes maveInLeft {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes maveInRight {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes maveInTop {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes maveInBottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
  }
}
