.reading__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.reading__container span {
  margin-right: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-foreground);
}

.dot-flashing {
  position: relative;
  z-index: -1;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--primary-foreground);
  color: var(--primary-foreground);
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--primary-foreground);
  color: var(--primary-foreground);
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--primary-foreground);
  color: var(--primary-foreground);
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: var(--primary-foreground);
  }

  50%,
  100% {
    background-color: var(--button-bg)
  }
}